.header{
    display: flex;
    color: #fff;
    font-family: 'Righteous', sans-serif;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: flex-end;
    margin-top: 0.5rem;

    nav{
            ul{
            padding: 0;
            display: flex;
            width: 24rem;
            justify-content: space-between;
            
            li{
                list-style: none;
                font-size: 0.9rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
}


.brand{
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

@media screen and (max-width:500px) {
    .header{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        nav{
            ul{
                width: 20rem;
            li{
                font-size: 0.8rem;
                font-weight: 200;
                cursor:pointer;
            }
        }
    }
    }
}