.skills {
  min-height: 100vh;
  font-family: "Poppins", cursive;
  position: relative;
  display: flex;
  padding: 4rem;
  width: 100%;
  overflow: hidden;
}
.skills > p {
  color: white;
  margin: 0;
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-weight: 600;
  font-size: 2rem;
}