.skills {
  min-height: 100vh;
  font-family: "Poppins", cursive;
  position: relative;
  display: flex;
  padding: 4rem;
  width: 100%;
  overflow:hidden;
}
.skills > p {
  color: white;
  margin: 0;
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-weight: 600;
  font-size: 2rem;
  z-index: 1;
}

.skills svg.linearBg{
  opacity: 0.15;
  width: 200rem;
  height: 200rem;
  position: absolute;
  top:-7rem;
  left: -20rem;
}